body {
    background: #262628;
    color: #ffffff;
    font-size: 60px;
}

.block {
    background-color: #ffffff;
    border-radius: 10px;
    min-height: 100px;
    position: fixed;
    left: 50%;
    right: 50px;
    bottom: 100px;
}

.block_red {
    background-color: rgb(214, 66, 66);
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 1000px;
    left: 50px;
    bottom: 50px;
}